.home-jumbotron {
  padding: 4em 20px 8em;
}

.home-jumbotron-header {
  font-size: 4em;
  margin-bottom: 0.2em;
}

.home-jumbotron-subheader {
  font-size: 1.3em;
}

.home-section-gradient {
  color: $home-gradient-text-color;
  background: linear-gradient(to bottom left, $home-section-gradient-top, $home-section-gradient-bottom);

  padding: $large-spacing 10% $large-spacing;
}

.home-section-content {
  margin: 0px 20px;
}

.home-section-header {
  font-size: 2.5em;
}

%shadowed-header {
  border-bottom: 1px solid rgba($white, 0.2);
}

.section-shadowed-header {
  @extend %shadowed-header;
}

.home-section-gradient-header {
  @extend %shadowed-header;
  text-shadow: $base-text-shadow;
}

.home-matter-column-header {
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: $base-text-shadow;
}

.home-matter-column-text {
  font-size: 1.2em;
}

.home-matter-column-icon-full-svg svg {
  width: 100%;
  height: 100%;
}

.home-matter-column-icon {
  padding-left: 20px;
  padding-right: 15px;
}

.home-matter-row0 {
  @media screen and (max-width: $screen-xs) {
    margin-bottom: 0px;
  }
  margin-bottom: 80px;
}

.home-matter-column-icon svg {
  fill: $home-gradient-text-color;
}

.home-section-why-us-description {
  font-size: 1.3em;
  padding-left: 0.5em;
}

.home-section-padded {
  @media screen and (max-width: $screen-xs) {
    padding: 1em 0;
  }
  padding: 3em 20%;
}

.home-pr-comment-demo {
  width: 100%;
  max-width: 1000px;
}

.home-pr-comment-demo-img {
  width: 100%;
}

.home-github-status-demo {
  padding-top: 4em;
  width: 100%;
  max-width: 900px;
}

.home-github-status-demo-img {
  width: 100%;
}

.hr-bordered-top {
  border-top: 1px solid $hr-color;
}

.home-section-linters-description {
  font-size: 1.3em;
}

.home-section-linters-how-are-run {
  margin-top: 2vh;
}

.home-pricing-card {
  margin: 0 5vw 8vh;
}

.home-pricing-card-title {
  font-size: 2em;
}

.home-pricing-card-description {
  font-size: 1.5em;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
