.report-linter-block {
    margin-bottom: 3vh;
}

.report-tables-container {
    margin-bottom: 2vh;
}

.timings-table {
    margin-left: 2vw;
}

.status-table {
    margin-right: 2vw;
}

.report-messages {
    margin-bottom: 2vh;
}

.var-name {
    font-style: italic;
}

.report-issue-text {
    color: $primary-text-color;
}

.report-source-code {
    font-size: 0.8em;
}

.report-show-code {
    margin-right: 0.5vw;
}

.report-toolbar {
    margin-bottom: 1.5vh;
}