.report-linter-block {
    margin-bottom: 3vh;
}

.report-tables-container {
    margin-bottom: 2vh;
}

.timings-table {
    margin-left: 2vw;
}

.status-table {
    margin-right: 2vw;
}

.report-messages {
    margin-bottom: 2vh;
}